<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<link rel="stylesheet" href="/css/style.css">
<header>
    <div class="logo">
        <a href="/">
            <img src="/images/jamlogo.png" alt="Jam Haven Logo">
        </a>
        <p>Jam Haven: Where Every Bite is a Spoonful of Sunshine!</p>
    </div>
    
    <% if (successMessages.length > 0) { %>
        <div class="flash success">
          <%= successMessages[0] %>
        </div>
      <% } %>
      
      <% if (errorMessages.length > 0) { %>
        <div class="flash error">
          <%= errorMessages[0] %>
        </div>
      <% } %>
  
    <form action="/items" method="GET"  class="search-container">
        <input type="text" name="search" placeholder="Search items..." required>
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <nav>
        <a href="/">Home</a>
        <a href="/items">Browse</a>
        <a href="/items/new">Sell</a>
      
        <% if (!user) { %>
          <a href="/users/new">Sign Up</a>
          <a href="/users/login">Login</a>
        <% } else { %>
          <a href="/users/profile">My Account</a>
          <a href="/users/logout">Log Out</a>
        <% } %>
      </nav>
      
</header>


