<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item - Jam Haven</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
<%- include("partials/header") %> 


<section class="hero">
    <div class="left-section">
        <div>
            <h1>Locally Sourced, Lovingly Made.</h1>
            <p>Discover handcrafted jams made from farm-fresh ingredients. Organic, sugar-free, and custom flavors available!</p>
            <a href="/items" class="cta-button">Start Browsing →</a>
        </div>
    </div>

    <div class="right-section">
        <img src="/images/jam3-unsplash.jpg" alt="Fruit Jams">
        <img src="/images/jam2-unsplash.jpg" alt="Delicious Jam Selection">
    </div>
</section>

<%- include("partials/footer") %>

</body>

</html>