<%- include('../partials/header') %>

<main class="form-container">
  <div class="form-wrapper">
    <h2 class="signup-title">Sign Up</h2>

    <% if (errorMessages && errorMessages.length > 0) { %>
      <div class="flash-error"><%= errorMessages[0] %></div>
    <% } %>

    <form action="/users" method="POST">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" required>

      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" required>


      <label for="email">Email:</label>
      <input type="email" name="email" required>

      <label for="password">Password:</label>
      <input type="password" name="password" required>

      <button type="submit">Sign Up</button>
    </form>
  </div>
</main>


<%- include('../partials/footer') %>
